<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    <style>#mapid { height: 600px; }</style>

</head>
<body>

<div id="mapid"></div>

<script th:inline="javascript">

    var points = [[${points}]];
    var pointsDeaths = [[${pointsDeaths}]];
    var pointsRecovery = [[${pointsRecovery}]];
    var popup = L.popup();

    var covid19 = L.icon({
    iconUrl: 'https://leafletjs.com/examples/custom-icons/leaf-orange.png',

    iconSize:     [20, 55], // size of the icon
    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});

    var pointsDeathsIcon = L.icon({
    iconUrl: 'https://leafletjs.com/examples/custom-icons/leaf-red.png',

    iconSize:     [20, 55], // size of the icon
    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});

    var pointsRecoveryIcon = L.icon({
    iconUrl: 'https://leafletjs.com/examples/custom-icons/leaf-green.png',

    iconSize:     [20, 55], // size of the icon
    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});

    var map = L.map('mapid').setView([50.304979, 18.848923], 10);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    points.forEach(value => {
        L.marker([value.lat, value.lng - 0.5], {icon: covid19}).addTo(map)
            .bindPopup('Confirmed cases: ' + value.covidData);
    })

    pointsDeaths.forEach(value => {
        L.marker([value.lat, value.lng], {icon: pointsDeathsIcon}).addTo(map)
            .bindPopup('Deaths cases: ' + value.covidData);
    })

        pointsRecovery.forEach(value => {
        L.marker([value.lat, value.lng + 0.5], {icon: pointsRecoveryIcon}).addTo(map)
            .bindPopup('Recovery cases: ' + value.covidData);
    })


function onMapClick(e) {
    popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(map);
}

map.on('click', onMapClick);


</script>


</body>
</html>
